<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table>
<h2 th:text="${passenger}"></h2>
<tr th:each="book:${bookingDetails}">

<td><div style="width: 100px;height: 100px;background: red;margin-top: 30px;" th:text="${book.bookingid}"></div></td>
      <td>  <form action="cancelticket">
       		<input th:value="${book.bookingid}" name="bid" hidden="true">
       		<input th:value="${passenger.email}" name="pemail">
            <input type="submit" value="CANCLE TICKET">
        </form>
       </td>
    
</tr>
</table>
       
    
</body>
</html>